.tracker-p{
    width: 100%;
    padding-bottom: .5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.tracker-btn{
    box-sizing: border-box;

    padding: .5rem 1.5rem;

    border: 1px solid;
    border-radius: 12px;

    text-decoration: none;
    text-align: center;
    color: #000;
}

.tracker-btn:hover{
    background-color: #a7adc2;
    color: #fff;
    border: 1px solid #a7adc2;
}

.tracker-input{
    height: 50px;
    width: 100%;

    padding-left: 1rem;

    box-sizing: border-box;
    border: 1px solid;
    border-radius: 50px;
}

.tracker-input:hover{
    background-color: #a7adc2;
}

.tracker-input:focus{
    border: none;
    outline: none;
    background-color: #a7adc2;
}