.tracker-header{
    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 10vh;

    padding: 0 4rem;
    background-color: aliceblue;
}

.tracker-logo svg{
    height: 60%;
    width: 20%;
}

.tracker-links{
    display: flex;
    justify-content: space-between;
}

#a-pos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 40%;
}

#a-pos>a{
    font-weight: bolder;
    color: #1C274C;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 20px;
}

#a-pos>a:hover{
    background-color: rgb(156, 168, 173);
}

.tracker-links .tracker-btn{
    margin-left: 2rem;
}

#login{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 200px;
    height: 70%;

    box-sizing: border-box;

    padding: 0 2rem;

    border-radius: 20px;

    background-color: #1C274C;

    cursor: pointer;
}

#login svg{
    height: 70%;
    width: min-content;
    padding: .2rem;

    background-color: #fff;
    border-radius: 100%;
}

#login p{
    text-align: center;
    
    font-weight: bolder;
    font-size: 1.2rem;
    color: #fff;
}

#list-perfil{
    display: none;
    flex-direction: column;
    justify-content: top;

    position: absolute;
    top: 10vh;
    right: 4rem;

    box-sizing: border-box;

    min-height: 150px;
    width: 199px;

    border-radius: 25px;
    border-top-left-radius: 0;

    background-color: rgb(133, 164, 192);
}

#list-perfil a:first-child{
    border-top-right-radius: 25px;
}

#list-perfil a{
    padding: 1rem 0 .5rem .5rem;

    font-weight: bold;

    text-decoration: none;

    color: #fff;
}

#list-perfil a:hover{
    background-color: #1C274C;
}